<!DOCTYPE html>
<html ng-app="urlShortenerModule">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - URL Shortener</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    @Styles.Render("~/Content/kendo/styles/kendo-bootstrap-default")

</head>
<body ng-app="ModuleHotLine"  ng-controller="appCtrl"
      ng-init="init({urlShortenerWebAPIURL:'@ViewBag.urlShortenerWebAPIURL', isAdmin: @Json.Encode(User.IsInRole("Admin")) })">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            @Html.ActionLink("URL Shortener", "Index", "ShortenUrl", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    @*<li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>*@
                    <li class="nav-item">@Html.Partial("_LoginPartial")</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        @if (IsSectionDefined("footer"))
        {
            @RenderSection("footer", false)
        }
        else
        {
            <hr />
            <footer>
                <p>&copy; Copyright © @DateTime.Now.Year Url Shortener, All rights reserved. (888) 508-8425</p>
            </footer>
        }        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
